<%- include("../partials/header.ejs") %>

<div class="container">
  <div class="row" style="justify-content: space-around;">
    <% campings.forEach(function(place){ %>
    <div class="col-md-3 mb-4">
      <div class="card">
        <img src="<%= place.image %>" class="card-img-top" alt="image text">
        <div class="card-body">
          <h5 class="card-title"><%= place.name %></h5>
          <p class="card-text"><%= place.description.substring(0, 50) + " ..." %></p>
          <a href="/campings/<%=place._id%>" class="btn btn-outline-info">More Info</a>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>

<%- include("../partials/footer.ejs") %>
