
<div class="container form-container" style="width: 20%;">
  <form action="/campings/<%= camping._id %>/?_method=PUT" method="POST" style="display: flex; flex-direction: column; margin-top: 50px;">
    <h1>EDIT the <%= camping.name %></h1>
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        name="camping[name]"
        placeholder="Enter camping name"
        value="<%= camping.name %>"
      />
      
    </div>
    <div class="form-group">
      <label for="url">Url</label>
      <input
        type="text"
        class="form-control"
        id="url"
        name="camping[image]"
        placeholder="Enter camping image Url"
        value="<%= camping.image %>"
      />
    </div>
    <div class="form-group">
      <label for="descr">Description</label>
      <input
        type="text"
        class="form-control"
        id="descr"
        name="camping[description]"
        placeholder="Enter camping description"
        value="<%= camping.description %>"
      />
    </div>
    <button type="submit" class="btn btn-primary">EDIT THE Camp</button>
  </form>
  <a href="/campings">Go Back</a>
</div>


