<%- include("../partials/header.ejs") %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action active">
                    Cras justo odio
                </button>
                <button type="button" class="list-group-item list-group-item-action">Dapibus ac facilisis in</button>
                <button type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
                <button type="button" class="list-group-item list-group-item-action">Porta ac consectetur ac</button>
                <button type="button" class="list-group-item list-group-item-action">Vestibulum at eros</button>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card mb-3">
                <img src="<%= camping.image %>">
                <div class="card-body">
                    <h5 class="card-title"><%= camping.name %></h5>
                    <p class="card-text"><%= camping.description %></p>
                    <p class="card-text"><small class="text-muted"><%= `submited by ${camping.author.username}` %></small></p>
                    <% if(currentUser && camping.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-warning" href="/campings/<%= camping._id %>/edit">EDIT CAMP</a>
                        <form action="/campings/<%= camping._id %>?_method=DELETE" method="POST" style="display: inline;">
                           <button class="btn btn-danger" type="submit">DELETE CAMP</button>
                        </form>
                    <% } %>   
                </div>
            </div>
            <div class="text-right">
                <a class="btn btn-success" href="/campings/<%= camping._id %>/comments/new">Add new Comment</a>
            </div>
            <div class="comments">
                <% camping.comments.forEach(function(comment) { %>
                <hr>
                <div class="media">
                    <div class="media-body ml-3">
                        <h5 class="mt-0"><%= comment.author.username %></h5>
                        <p><%= comment.text %></p>
                        <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-sm btn-warning" 
                            href="/campings/<%= camping._id %>/comments/<%= comment._id %>/edit">
                            Edit
                        </a>
                        <form action="/campings/<%= camping._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger" type="submit">DELETE</button>
                        </form>
                        <% } %>
                    </div>
                </div>
                <hr>
                <% }) %>
            </div>
        </div>
    </div>
</div>
</div>


<%- include("../partials/footer.ejs") %>